.main-header {
    display: flex;
    background-color: #333
}

.MainTitle {
   color: white;
    padding: 10px;
    padding-left: 30px
    
}

.Logo {
    width: 101px;
    height: 101px;
    padding-left: 80px
    
}

.navbar ul {
    margin: 0 10px;
    display: flex;
}

.navbar li {
    padding-right: 15px;
    padding-top: 40px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
}
p {
    font-family: "Times New Roman", Times, serif;
}

.Sec1RefBar {
     text-decoration: none;
}

.BlkSectionMain {
    background-color: #333
}

footer {
    display: flex;
    background-color: #333
}

.footerp {
   color: white;
    padding: 10px;
    padding-left: 30px
}

.pbodytextWHT {
    font-size: 20px;
     color: white;
}

.h2bodytextWHT {
    font-size: 30px;
     color: white;
}

.pbodytextBLK {
    font-size: 20px;
     color: #333;
}

.h2bodytextBLK {
    font-size: 30px;
     color: #333;
}

.GodPagTawhiriImg {
     width: 1500px;
}

.CrePagSection1Imgs {
    width:1500px
}

.CrePagSection2Imgs {
    width:1500px
}

.Section1ImgMain {
    width:1500px
}

.CrePagSection2 {
    background-color: #333
}

.CrePagSection3 {
    background-color: #333
}

.GodPagSection {
    background-color: #333
}

.GridPattern{
  display: grid;
    grid-template-columns: auto auto auto;
}

.ShopItem {
       border-style: solid;
  border-color: #333;
    border-width: 5px;
    display: flex;
}

.PriceStore {
     font-size: 30px;
}

.ShopImg {
    height: 200px;
}

.StoreH1 {
    font-size: 100px;
    padding: 0px;
    padding-left: 80px;
}

.MainStoreItems {
    display: flex;
}

.MainStoreItemsspec {
    padding: 10px;
}

.SelectionSpread {
    display: flex;
}
.SelectionSpeadText {
    padding-right: 20px;
    font-size: 50px;
    color: white;
     padding-left: 200px;
}

.TopSectionStore {
    background-color: #333;
    padding-top: 0px;
}

.MainStoreText {
    font-size: 60px;
    color: white;
    padding-left: 200px;
    align-content: center;
    padding-top: 0px;
}